/* Layout fuer DegreeCourse Liste
https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap automatische Zeilenumbruch mit flex-wrap
https://developer.mozilla.org/en-US/docs/Web/CSS/flex-grow restliche Bildschirmbreite wird ausgefuellt
https://developer.mozilla.org/en-US/docs/Web/CSS/gap Abstand bei display flex bestimmen
https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content 
https://developer.mozilla.org/de/docs/Web/CSS/CSS_flexible_box_layout/Aligning_items_in_a_flex_container Abnstand zwischen zwei Elemente setzen (funktioniert hier nur mit span)
*/
#DegreeCourseManagementPageListComponent {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}

#DegreeCourseManagementPage {
  flex-grow: 1;
  margin-bottom: 20px;
}

.card {
  margin-left: 12px;
}

#DegreeCourseUeberschrift {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 12px;
  margin-bottom: 20px;
}

#DegreeCourseManagementPageCreateDegreeCourseButton {
  margin-right: 12px;
}

#DegreeCourseUeberschrift>* {
  margin-bottom: 10px;
}

#AlertDegreeCourseEditSuccess {
  margin: 10px;
}

/* hier Verkettung von Klassen (haben hoehere Prioritaet), einfach nur eine Klasse zu nehmen wird ueberschrieben, id zu nehmen ist unguenstig
  Element muss beide Klassen besitzen */
.listUniversityName.list-group-item,
.listDepartmentName.list-group-item,
.listName.list-group-item,
.listFooterButtons.card-footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Layout fuer New DegreeCourse und Edit DegreeCourse
  https://developer.mozilla.org/de/docs/Web/CSS/margin-left
  */
#DegreeCourseManagementPageCreateComponent,
#DegreeCourseManagementPageEditComponent,
#DegreeCourseProfilPageComponent {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#NewDegreeCourseUeberschrift,
#DegreeCourseEditUeberschrift {
  margin-bottom: 12px;
}

#NewDegreeCourseButtons,
#EditDegreeCourseButtons,
#ProfilDegreeCourseButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

#NewDegreeCourseButtons>*,
#EditDegreeCourseButtons>*,
#ProfilDegreeCourseButtons>* {
  margin-top: 10px;
}