/* Layout fuer User Liste
https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap automatische Zeilenumbruch mit flex-wrap
https://developer.mozilla.org/en-US/docs/Web/CSS/flex-grow restliche Bildschirmbreite wird ausgefuellt
https://developer.mozilla.org/en-US/docs/Web/CSS/gap Abstand bei display flex bestimmen
https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content 
https://developer.mozilla.org/de/docs/Web/CSS/CSS_flexible_box_layout/Aligning_items_in_a_flex_container Abnstand zwischen zwei Elemente setzen (funktioniert hier nur mit span)
*/
#UserManagementPageListComponent {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}

#UserManagementPage {
  flex-grow: 1;
  margin-bottom: 20px;
}

.card {
  margin-left: 12px;
}

#UserUeberschrift {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 12px;
  margin-bottom: 20px;
}

#UserManagementPageCreateUserButton {
  margin-right: 12px;
}

#UserUeberschrift>* {
  margin-bottom: 10px;
}

#AlertUserEditSuccess {
  margin: 10px;
}

/* hier Verkettung von Klassen (haben hoehere Prioritaet), einfach nur eine Klasse zu nehmen wird ueberschrieben, id zu nehmen ist unguenstig
  Element muss beide Klassen besitzen */
.listUserID.list-group-item,
.listUserFirstName.list-group-item,
.listUserLastName.list-group-item,
.listFooterButtons.card-footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Layout fuer New User und Edit User und Profil
  https://developer.mozilla.org/de/docs/Web/CSS/margin-left
  */
#UserManagementPageCreateComponent,
#UserManagementPageEditComponent,
#UserProfilPageComponent {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#NewUserUeberschrift,
#UserEditUeberschrift {
  margin-bottom: 12px;
}

#NewUserButtons,
#EditUserButtons,
#ProfilUserButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

#NewUserButtons>*,
#EditUserButtons>*,
#ProfilUserButtons>* {
  margin-top: 10px;
}

#UserProfilForm {
  margin-top: 20px;
}

#ProfilEditButtons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}